<div style="text-align: center;">
  <span style="padding: 5px 5px 5px 5px; margin: 0 15px 0 15px;">{{#link-to 'user'}}Student{{/link-to}}</span>
  <!-- <br><br> -->
  <span style="padding: 5px 5px 5px 5px; margin: 0 15px 0 15px;">{{#link-to 'instructor'}}Instructor{{/link-to}} </span>
</div>
